In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("diabetes.csv")

In [3]:
data.shape

(768, 9)

In [4]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
X=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [7]:
# 4 import the datasets into train test split on the ratio of 80:20
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.20, random_state=42)

In [8]:
X_test.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
668,6,98,58,33,190,34.0,0.430,43
324,2,112,75,32,0,35.7,0.148,21
624,2,108,64,0,0,30.8,0.158,21
690,8,107,80,0,0,24.6,0.856,34
473,7,136,90,0,0,29.9,0.210,50

In [9]:
y_train.head()

60     0
618    1
346    0
294    0
231    1
Name: Outcome, dtype: int64

In [10]:
from sklearn.ensemble import AdaBoostClassifier
ada_booster=AdaBoostClassifier(learning_rate=0.1)

In [11]:
ada_booster.get_params()

{'algorithm': 'SAMME.R',
 'base_estimator': None,
 'learning_rate': 0.1,
 'n_estimators': 50,
 'random_state': None}

In [12]:
ada_booster=AdaBoostClassifier(n_estimators=1000,learning_rate=0.1,random_state=0)
ada_booster.get_params()

{'algorithm': 'SAMME.R',
 'base_estimator': None,
 'learning_rate': 0.1,
 'n_estimators': 1000,
 'random_state': 0}

In [13]:
from sklearn.metrics import classification_report
ada_booster.fit(X_train,y_train)
print(classification_report(y_test,ada_booster.predict(X_test)))

              precision    recall  f1-score   support

           0       0.81      0.80      0.80        99
           1       0.64      0.65      0.65        55

    accuracy                           0.75       154
   macro avg       0.72      0.73      0.73       154
weighted avg       0.75      0.75      0.75       154

In [14]:
learning_rate=[0.1,0.2,0.3,0.4,0.05,0.06,0.07,0.08,0.09]
n_estimators=[200,300,40,60,70,80,90,110,120,130,140]
lst=[]
for lr in learning_rate:
    for ne in n_estimators:
        
        ada_booster=AdaBoostClassifier(n_estimators=ne,learning_rate=lr,random_state=0)
        ada_booster.fit(X_train,y_train)
        lst.append([lr,ne,ada_booster.score(X_test,y_test)])

In [15]:
df=pd.DataFrame(lst,columns=["learning_rate","n_estimators","Accuracy"])

In [16]:
df

    learning_rate  n_estimators  Accuracy
0            0.10           200  0.766234
1            0.10           300  0.772727
2            0.10            40  0.772727
3            0.10            60  0.766234
4            0.10            70  0.759740
..            ...           ...       ...
94           0.09            90  0.759740
95           0.09           110  0.772727
96           0.09           120  0.779221
97           0.09           130  0.779221
98           0.09           140  0.779221

[99 rows x 3 columns]

In [17]:
df.sort_values(by=["Accuracy"],ascending=False)

    learning_rate  n_estimators  Accuracy
45           0.05           300  0.792208
77           0.08           200  0.785714
66           0.07           200  0.785714
49           0.05            80  0.779221
14           0.20            60  0.779221
..            ...           ...       ...
42           0.40           130  0.753247
61           0.06            90  0.753247
33           0.40           200  0.746753
23           0.30           300  0.746753
34           0.40           300  0.740260

[99 rows x 3 columns]